{
  "ipmi": {
    "host": "*.*.*.*",
    "user": "",
    "password": ""
  },
  "server": {
    "host": "*.*.*.*",
    "timeout": 120,
    "mountpoint": ""
  },
  "client": {
    "mountpoint": ""
  },
  "rsnapshot": {
    "script": "",
    "command": "",
    "root_folder" : ""
  },
  "log": {
    "filename": "",
    "level": "DEBUG"
  },
  "mail": {
    "fromaddr": "",
    "toaddr": ""
  }
}